/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@import url("https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet");

html,body{
    height:100%; /* body = browser height */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'Montserrat', sans-serif;
    font-size:12px;
	color:#93B7BE;
    background:#005daa; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-30deg, #005daa, #01b4e7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-30deg, #005daa, #01b4e7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-30deg, #005daa, #01b4e7); /* For Firefox 3.6 to 15 */
    margin:0px;
    padding:0px;
    width:100%;
}

.wrapper{
	margin:0 auto;
	width:80%;
    background: none;
}


/* -------- Channel ID (name) -------- */
.ChannelID{
    
    height:auto;
    width: 100%;
    position: relative;

}

    /* -------menu icon-------------*/ 
    .menu{
        float:left;
        margin: 15px 10px 0 0;
        cursor:pointer;
    }


    .menu div{
        width: 25px;
        height: 3px;
        background-color: #ffffff; /*icon lines */
        margin: 3px 0;
    }

    /* ------- channel name -------*/ 
    .channame{
        font-size:1.1em;
        padding:2px 0 2px 0;
        color:#ffffff;
        text-align:center;

    }

    .channame h1{
        padding: 0;
        margin:15px auto 0 auto;
    }

/* -------- Main Body -------- */
.ProgrammeID{
    position: relative;
    width:65%;
    height:auto;
    margin:10% auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #FCFCFA;
}

.programmelogo{
    position: relative;
    border-radius:10px 10px 0 0;
    overflow: hidden;
    padding-top: 100%;
    margin: auto;
    float: none;
}


.programme{
    position:absolute;
    object-fit: cover;
	width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
    
.programme img{
    height:100%;
}
/*
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.sixteen-nine {
  @include aspect-ratio(1,1);  
}
*/

.channellogo img{
    width: 25%;
    margin:-15% 0 0 70%;
    background-color: #01b4e7;
    border-radius: 50%;
    padding: 2px;
    position:relative;
}

.liveprogram{
    position: relative;
	margin:0 auto;
	text-align: center;
    width:90%;
    height:50%;
	color:#9A9994;
	text-align:center;
    padding:5% 5% 10% 5%;
    margin:0 auto;

}
.trackinfo{
	font-weight: bold;
	font-size:1.5em;
}

.artist{
	font-size:1em;
}

/* Control Pannel */

.iconborder{
	display: block;
	border-radius:50%;
	border:3px solid #fff;
	height:60px;
	width:57px;
	margin:0 auto;
	padding:6px 0px 6px 14px;
}

.play {
	display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 36px solid #fff;
  margin: 0 auto;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
}


.pause{
	display:block;
    width: 10px;
    height: 45px;
    border-right: 15px solid #fff;
    border-left: 15px solid #fff;
	margin:0 auto;
	position:relative;
	top:8px;
	left:-7px;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
 
  
}



.control{
    width: 70%;
    margin:0 auto;
}


.heart {
 float:left;
 width:33%;
}

.heart img{
    margin:25px auto;
}

.playbutton{
    float: left;
    width:33%;
}

.sharebutton{
    float:left;
    width:33%;
}

.sharebutton img{
    margin:25px auto;
    float: right;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #005daa; /* Background Color*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu{
	float:left;
}

