@import url("https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet");

html,body{
    height:100%;
}

body{
background: -moz-linear-gradient(269deg, #01b4e7 0%, #17458f 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01b4e7), color-stop(100%, #17458f)); /* safari4+,chrome */
background: -webkit-linear-gradient(269deg, #01b4e7 0%, #17458f 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(269deg, #01b4e7 0%, #17458f 100%); /* opera 11.10+ */
background: -ms-linear-gradient(269deg, #01b4e7 0%, #17458f 100%); /* ie10+ */
background: linear-gradient(181deg, #01b4e7 0%, #17458f 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b4e7', endColorstr='#17458f',GradientType=0 ); /* ie6-9 */

}
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:40%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
	color:white;
	font-family:'Montserrat', sans-serif;
    
	
}

.app img{
	width:200px;
}
